@font-face {
    font-family: roboto;
    src: url('../fonts/roboto/Roboto-Light.ttf');
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    display: block;
    font-family: roboto;
}

:root {
    --gray: #797777;
}


main {
    width: 350px;
    border: 1px solid var(--gray);
    border-radius: 25px;
    margin: 16px auto;
    background-color: #f1efef;
}

.input {
    border: none;
    border-bottom: 1px solid var(--gray);
    border-radius: 25px;
    width: calc(100% - 40px);
    height: 120px;
    outline: 0;
    font-size: 20px;
    padding: 10px 20px;
}

content {
    display: grid;
    text-align: center;
    grid-template-columns: 25% 25% 25% 25%;
    width: calc(100% - 32px);
    margin: 16px;
}

button {
    width: calc(100% - 12px);
    height: 60px;
    background-color: white;
    border: 1px solid var(--gray);
    border-radius: 18px;
    font-size: 16px;
    color: #444444;
    outline: 0;
    margin: 6px;
    display: block;
    font-family: roboto;
}

.active {
    background-color: #1de9b6;
    color: white;
}

button:active, button:hover {
    background-color: #1de9b6;
    color: white;
}

.back-yellow {
    background-color: #ffc929;
    color: white;
}

div {
    position: relative
}

    div operation {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 18px;
        right: 18px;
    }

.font-36 {
    font-size: 36px;
}

@media only screen and (max-width: 375px) {
    main {
        width: calc(100% - 32px);
    }
	button {
        height: 60px !important;
    }
}


@media only screen and (max-width: 325px) {
    button {
        height: 50px !important;
    }
}
